# Temporary paths to ignore
/.vs/
/.vscode/
/build/
/test_files/

# Binary compiled assets
*.isr

# Local data
/source/data/temp
/source/data/local
/tools/scripts/*

# Specific scripts that would be nice to have in the repository
!/tools/scripts/start.moon

# Temporary files to ignore
compile_commands.json
*.patch
*.cso
*.sln
*.fdb
*.spv*
*.hsc
