# Temporary paths to ignore
/.vs/
/.vscode/
/build/
/test_files/

# Binary compiled assets
*.isr

# Local data
/source/data/kenney
/source/data/cotm
/source/data/temp
/source/data/local

# Temporary files to ignore
compile_commands.json
*.patch
*.cso
*.sln
*.fdb
*.spv*
