# Temporary paths to ignore
/.vs/
/.vscode/
/build/

# Binary compiled assets
*.isr

# Local data
/source/data/kenney
/source/data/cotm
/source/data/temp

# Temporary files to ignore
compile_commands.json
*.sln
*.fdb
*.spv*
