name: Build (Single job)

on:
  workflow_call:
    inputs:
      host:
        description: The host machine to be used for the build process.
        required: true
        type: string
      configs:
        description: A json array of configuration names that should be build.
        required: true
        type: string
      platform:
        description: The platform we want to build for.
        required: true
        type: string
      architecture:
        description: The architecture we want to build for.
        required: true
        type: string
      cache_revision:
        description: The revision of the worker cache.
        required: true
        default: v4
        type: string

jobs:
  build_configurations:
    name: (${{ join(fromJSON(inputs.configs), ', ') }})
    runs-on: ${{ inputs.host }}
    steps:
    - uses: actions/checkout@v2

    - name: Prepare workspace
      shell: pwsh
      run: |
        pip3 install setuptools
        pip3 install wheel
        pip3 install conan
        conan config install https://github.com/iceshard-engine/conan-config.git

    - name: Install tools (GCC 12)
      if: ${{ startsWith(inputs.host, 'ubuntu') }}
      run: |
        sudo add-apt-repository ppa:ubuntu-toolchain-r/test
        sudo apt install -y gcc-12 g++-12 libstdc++6

    - name: Cache Conan packages
      uses: actions/cache@v2
      env:
        cache-name: cache-conan-packages
      with:
        path: ~/.conan
        key: ${{ runner.os }}-build-${{ cache_revision }}-${{ env.cache-name }}-${{ hashFiles('**/conanfile.txt', '**/conan_profiles.json') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ cache_revision }}-${{ env.cache-name }}-

    - name: Build targets
      shell: pwsh
      run: |
        $BuildTargets = "${{ join(fromJSON(inputs.configs), '","') }}" | ForEach-Object { "-t all-${{ inputs.architecture }}-$_" }
        $BuildTargetsStr = $BuildTargets -join " "

        .\tools\gh_ice.ps1 init
        .\tools\gh_ice.ps1 build $BuildTargetsStr

    # - name: Run tests
    #   shell: pwsh
    #   run: |
    #     $BuildTargets = "${{ join(fromJSON(inputs.configs), '","') }}" | ForEach-Object { "-t test-all-${{ inputs.architecture }}-$_" }
    #     $BuildTargetsStr = $BuildTargets -join " "

    #     .\tools\gh_ice.ps1 build $BuildTargetsStr
