name: Nightly

on:
  schedule:
    # Every day at 2 am
    - cron: 0 2 * * *

jobs:
  nightly-build-windows:
    runs-on: windows-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    - name: Setup repository
      run: |
        pip3 install setuptools
        pip3 install conan
        conan config install https://github.com/iceshard-engine/conan-config.git
    - name: Build (Windows-Develop)
      shell: cmd
      run: |
        ice build -t all-x64-Develop
    - name: Run unit tests
      shell: cmd
      run: |
        ice build -t test-all-x64-Develop
