name: Nightly

on:
  schedule:
    # Every day at 2 am
    - cron: 0 2 * * *

jobs:
  ## Build using a single job for all configurations
  #   - Allows to cut down on build time as it's does not need to recreate the workspace for each configuration.
  #   - This is the default way of validating builds

  call_build_single_windows:
    name: 'Build (Windows)'
    uses: iceshard-engine/engine/.github/workflows/cw_build_single.yaml@master
    with:
      host: windows-latest
      configs: '["Develop"]'
      platform: 'windows'
      architecture: x64
      cache_revision: v4

  call_build_single_linux:
    name: 'Build (Linux)'
    uses: iceshard-engine/engine/.github/workflows/cw_build_single.yaml@master
    with:
      host: ubuntu-latest
      configs: '["Develop"]'
      platform: 'linux'
      architecture: x64
      cache_revision: v4
