name: Validation

on: [push, pull_request]

jobs:
  validation-build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]
        configuration: [Debug, Develop, Profile, Release]
    steps:
    - uses: actions/checkout@v1
    - name: Setup repository
      run: |
        pip install conan
        conan remote add conan-iceshard https://conan.iceshard.net/
        conan remote add conan-bincrafters https://api.bintray.com/conan/bincrafters/public-conan
    - name: Build
      shell: cmd
      run: |
        ice build -t all-x64-${{ matrix.configuration }}
    - name: Notify
      run: |
        echo Nothing to verify yet

  commits-notify:
    runs-on: ubuntu-latest
    steps:
    - name: Notify commit (Discord)
      uses: Ilshidur/action-discord@master
      env:
        DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK_YUKI }}
        DISCORD_USERNAME: 'Yuki <IceShard Engine>'
      with:
        args: |
          New commits have been pushed to `{{ EVENT_PAYLOAD.repository.full_name }}`!
          {{ EVENT_PAYLOAD.commits.map(e => '- ' + e.message + ' (' + e.url + ') <' + e.author.name + '>').join('\n') }}
